.main-header {
  position: relative;

  @media (min-width: $desktop-width) {
    margin-bottom: 90px;
  }
}

.main-header__box {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    background: url("../img/main-header-boxdesk.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 190px;
    padding-top: 50px;
  }
}

.main-header__menu-desk {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: flex-end;

    .main-header__items {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 70px;
    }

    .main-header__item {
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: var(--darken-color);
    }
  }
}

.main-header__inner {
  display: flex;
  justify-content: space-around;

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
  }
}

.main-header__menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  background: #f1f2f4;
  z-index: 2;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.main-header__menu-logo {
  padding-top: 10px;
}

.main-header__link {
  text-decoration: none;
  color: var(--dark-color);
}

.none {
  display: none;
}

.burger__active {
  z-index: 3;

  span {
    background-color: #d2c9f2;
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }
  }
}
