.main-header {
  position: relative;
}

.main-header__inner {
  display: flex;
  justify-content: space-around;
}

.main-header__menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  background: #f1f2f4;
  z-index: 2;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.main-header__menu-logo {
  padding-top: 10px;
}

.main-header__link {
  text-decoration: none;
  color: var(--dark-color);
}

.none {
  display: none;
}

.burger__active {
  z-index: 3;

  span {
    background-color: #d2c9f2;
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }
  }
}
