.skills {
<<<<<<< HEAD
  margin-bottom: 160px;
=======
  margin-bottom: 100px;
>>>>>>> 3f0739e80b1a592325b2cef307c53d4f526b4fbf
}

.skills__item {
  width: 300px;
  height: auto;
  border-radius: 40px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
<<<<<<< HEAD
  margin-bottom: 80px;
=======
  margin-bottom: 40px;
>>>>>>> 3f0739e80b1a592325b2cef307c53d4f526b4fbf
}

.skills__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: var(--darken-color);
  margin: 0;
  margin-bottom: 18px;
  padding: 60px 0 0 25px;
  text-align: left;
}

.skills__description {
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  color: var(--darken-color);
  margin: 0;
  padding: 0 8px 0 25px;
}

.skills__btn-link {
  background-color: #c2b4f5;
}
