.team {
  position: relative;
  bottom: -100px;
  background-color: var(--light-color);
  border-radius: 40px;
}

.team__box {
  @media (min-width: $desktop-width) {
    width: 100%;
    padding: 93px 10px 10px 10px;
  }
}

.team__box-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  padding-left: 0;

  @media (min-width: $desktop-width) {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 43px;
    text-align: start;
    margin-left: 180px;
  }
}

.team-swiper-wrapper {
  margin-bottom: 20px;
}

.team__box-citation {
  width: 250px;
  margin: 0 auto;
  padding: 0;
  font-size: 17px;
  line-height: 22px;
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    width: 755px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 85px;
  }
}

.team__box-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.team__user-img {
  width: 220px;

  @media (min-width: $desktop-width) {
    width: 755px;
  }
}

.team__arrow-inner {
  @media (min-width: $desktop-width) {
    position: absolute;
    width: 100%;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1;
  }
}

.team__next,
.team__prev {
  @media (min-width: $desktop-width) {
    width: 77px;
    height: 77px;
    &::after {
      width: 77px;
      height: 77px;
      background: url("../img/svg/team-arrow-desk.svg");
    }
  }
}

.team__prev {
  @media (min-width: $desktop-width) {
    &::after {
      transform: rotate(180deg);
    }
  }
}
