.test {
  margin-bottom: 50px;

  @media (min-width: $desktop-width) {
    position: relative;
    margin-bottom: 300px;
  }
}

.test__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 176px;
    align-items: flex-start;
    margin: 0;
    top: -120px;
  }
}

.test__link-desk {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #877cbc;
  }
}

.test__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 154px;
  height: 154px;
  border-radius: 30px;
  background-color: #d2c9f2;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.test__title {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  color: var(--darken-color);

  @media (min-width: $desktop-width) {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: var(--darken-color);
    margin-bottom: 0;
  }

  br {
    display: none;

    @media (min-width: $desktop-width) {
      display: inline;
    }
  }
}

.test__button {
  display: flex;
  flex-direction: column;
  align-items: center;

  picture {
    margin-bottom: 20px;
  }

  span {
    font-family: "Montserrat", sans-serif;
    color: var(--light-color);
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
  }
}
